@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin-bottom: 50vh;
  scroll-behavior: smooth;
}

:root {
  --primary: #356385;
  --secondary: #468FAF;
  --text-dark:#012A4A;
  --text-light:#A9D6E5;
  --hover:#3a7097;
  --active:#013A63;
  --button:#2C7DA0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main{
  margin-top: 10vh;
}

.heading{
  font-size: 5ch;
  font-weight: 600;
  color: var(--text-dark);
  margin: 0 auto;
  letter-spacing: 15px;
  margin-top:10vh;
  width:fit-content;
  text-transform: uppercase;
}

.subheading{
  font-size: 3ch;
  font-weight: 600;
  color: var(--text-dark);
  margin: 0 auto;
  letter-spacing: 5px;
  margin:2vh auto;
  width:fit-content;
  text-transform: uppercase;
}

nav{
  height: 10vh;
  width: 100%;
  background-color: #f5f5f5;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  box-shadow: 0px 0px 74px -20px rgba(0, 0, 0, 0.75);
}
nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style: none;
  margin: auto 0;
  padding: 0;
}
nav ul li{
  font-family: ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 3ch;
  margin: 0 10px;
  color:var(--text-dark);
}

nav ul li Link.active{
  color:var(--text-light);
}

nav span{
  margin: auto 10px;
}
nav span img{
  height: 5vh;
}

@media screen and (max-width: 936px) {
  nav span{
    display: none;
  }
  nav ul{
    width: 100%;
  }
  nav ul li{
    margin: auto;

  }
}