@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin-bottom: 10vh;
  scroll-behavior: smooth;
}

:root {
  --primary: #356385;
  --secondary: #468FAF;
  --text-dark:#012A4A;
  --text-light:#A9D6E5;
  --hover:#3a7097;
  --active:#013A63;
  --button:#2C7DA0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main{
  margin-top: 0;
}

.heading{

  font-size: 5ch;
  font-weight: 600;
  color: var(--text-dark);
  margin: 0 auto;
  letter-spacing: 15px;
  margin-top:10vh;
  width:fit-content;
  text-transform: uppercase;
  text-align: center;

}

.subheading{
  font-size: 3ch;
  font-weight: 600;
  color: var(--text-dark);
  margin: 0 auto;
  letter-spacing: 5px;
  margin:2vh auto;
  width:fit-content;
  text-transform: uppercase;
  text-align: center;
}

nav{
  height: 5vh;
  width: 100%;
  background: linear-gradient(#fff, #ffffff70);
  margin: 0;
  position: fixed;
  top: -10vh;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 999999;
  box-shadow: 0px 0px 74px -20px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out;
}

nav.active{
  top: 0;
}

nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style: none;
  margin: auto 0;
  padding: 0;
}
nav ul li{
  background:var(--primary);
  color:var(--text-light);
  font-family: ubuntu;
  font-style: normal;
  font-weight: 200;
  font-size: 2.5ch;
  margin: 0 10px;
  padding:2px 10px;
  border-radius:10px;
  text-transform:uppercase;
}

nav ul li Link.active{
  color:var(--text-light);
}

nav span{
  margin: auto 10px;
}
nav span img{
  height: 5vh;
}

.no-mobile{
  visibility:visible;
  height:auto;
  padding:auto;
  width:auto;
}
.no-desktop{
    visibility:hidden;
    height:0;
    padding:0;
    width:0;
}

@media screen and (max-width: 936px) {
  nav span{
    display: none;
  }
  nav ul{
    width: 100%;
  }
  nav ul li{
    margin: auto;
    
  }
  .no-mobile{
    visibility:hidden;
    height:0;
    padding:0;
    width:0;
  }
  .no-desktop{
    visibility:visible;
    height:auto;
    padding:auto;
    width:auto;
  }
}