.hero{
  display: flex;
  background: url("/images/wave.png")  no-repeat center center;
  background-size: cover;
  width: 100%;
  height: fit-content;
  align-items: center;
  flex-direction: column;
  padding: 2vh;
}



.hero span img{
  height: 100px;
  width: auto;
}
.hero .fusion{
  width: 40%;
}
.hero .aagaaz{
  width: 100%;
}

.hero .people{
  width: 100%;
}
.hero img{
  width: 100%;
}

@media screen and (min-width: 936px) {

.hero span img {
  height: 100px;
  width: auto;
}

.hero .fusion {
  width: 12%;
  z-index: 1;
}

.hero h3 {
  z-index: 1;
  font-size: 3ch;
  font-family: ubuntu;
}

.hero .aagaaz {
  width: 60%;
  z-index: 1;
}

.hero .people {
  width: 50%;
  z-index: 0;
}

.hero img {
  width: 100%;
}

}

/* Hero Section Ends */

/* Event Section Starts */

.events{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  padding: 5vh 0;
  background:linear-gradient(0deg, #ffffff98, #ffffff8f) , url(https://previews.123rf.com/images/antonshaparenko/antonshaparenko1807/antonshaparenko180700418/105112510-camera-seamless-pattern-cover-camera-icon-creative-design-wallpaper-web-design-textile-printing-and-.jpg);
  background-size:cover ;
}

.events h2{
  font-family: ubuntu;
  font-style: normal;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 5ch;
  padding: 0;
  margin: 0;
}

.events .event{
  width: 80%;
  background-color: var(--secondary);
  color:var(--text-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vh;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 74px -20px rgba(0, 0, 0, 0.75);
}

.events .event .imageContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  max-height: 400px;
}
.events .event .imageContainer img{
  width: 100%;
  height: auto;
}
.events .event .ContentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}
.events .event .ContentContainer h3{
  color:var(--text-light);
  font-size:3ch;
}
.events .event .ContentContainer .metadata{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
}

.events .event .ContentContainer .metadata .fee, .events .event .ContentContainer .metadata .time{
  display: flex;
  font-family: ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 2.2ch;
  color: var(--text-light);
  border:#fff solid 1px;
  background: var(--primary);
  padding: 5px;
  border-radius: 10px;
  width: fit-content;
  align-items: center;
  justify-content: center;
}
.events .event .ContentContainer .metadata .fee .icon, .events .event .ContentContainer .metadata .time .icon{
  margin: 3px 5px 0 0;
  
}
.events .event .ContentContainer h3 {
  font-family: ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2ch;
  margin: 20px 0;
}
.events .event .ContentContainer P {
  font-family: ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 2.3ch;
  color: var(--text-light);
  margin: 20px;
  text-align: center;
}

.events .event .ContentContainer button {
  width: fit-content;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  color: var(--text-light);
  font-family: ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 2ch;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}

@media screen and (min-width: 936px) {
  .events .event{
    flex-direction: row;
    width: fit-content;
  }
  .events .event .imageContainer {
    width: 30vw;
    max-width: 1000px;
  }
}

.eventsNames{
  margin: 10vh 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--primary);
  padding: 2vh 10vw;
}
.eventsNames span{
  background: var(--secondary);
  color: #fff;
  margin: 10px;
  padding: 10px 20px;
  font-family: ubuntu;
  font-size: 3ch;
  font-weight: 300;
  border-radius: 20px;
  cursor:pointer;
  
}
.eventsNames span.active {
  background: var(--active);
  color: var(--text-light);
  border: #fff solid 2px;
}

.eventsNames span:hover {
  background: var(--hover);
  color: var(--text-light);
}

@media screen and (max-width: 936px) {
  .eventsNames {
    margin: 5vh 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--primary);
    padding: 2vh 1vw;
  }

  .eventsNames span {
    background: var(--secondary);
    color: #fff;
    margin: 10px;
    padding: 10px 20px;
    font-family: ubuntu;
    font-size: 2ch;
    font-weight: 300;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
  }

  .eventsNames span.active {
    background: var(--active);
    color: var(--text-light);
    border: #fff solid 2px;
  }

  .eventsNames span:hover {
    background: var(--hover);
    color: var(--text-light);
  }

}